# Configurações públicas do aplicativo. Não inclua chaves privadas ou credenciais AWS.
EXPO_PUBLIC_API_URL=http://localhost:5205
EXPO_PUBLIC_COGNITO_USER_POOL_ID=
EXPO_PUBLIC_COGNITO_CLIENT_ID=
EXPO_PUBLIC_COGNITO_DOMAIN=
